<!DOCTYPE html>

<html lang="en"> <!-- lang é um atributo-->

<head>
    <meta charset="UTF-8"> <!--existem varias tags meta, atributo charset-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--consegue adaptar para telas maiores e menores-->
    <meta name="teme-color" content="#8257E5">
    <title>Proffy | Sua plataforma de estudos online

    </title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <style>

        /* CSS Cascating em cascata StyleSheet Folha de Estilo */
    </style>
    
<link rel="stylesheet" href="/styles/main.css">

<link rel="stylesheet" href="styles/partials/page-landing.css">

<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet"> <!--busca fontes no google-->


</head>
<body id="page-landing">
    
    <div id="container">
        <div class="logo-container">
            <img src="/images/logo.svg" alt="Proffy">
            <h2>Sua plataforma de estudos online</h2>
        </div>

        <img class="hero-image" src="/images/landing.svg" alt="Plataforma de Estudos">
        
        <!--<img src="" alt="Logo"> quando não estiver disponivel, ou para acessibilidade leitor o alt aparece escrito-->
    
        
    <div class="buttons-container">
        <a class="study" href="/study">
            <img src="/images/icons/study.svg" alt="Estudar">
            Estudar
        </a>

        <a class="give-classes" href="/give-classes">
            <img src="/images/icons/give-classes.svg" alt="Dar Aulas">
            Dar Aulas
            </a>

        <p class="total-conections">
            Total de 200 conexões já realizadas
            <img src="/images/icons/purple-heart.svg" alt="Coração roxo">
        </p>
    </div>
    
    </div>
    
    
</body>
</html>


<!--
<!DOCTYPE html>
<html>

    <head>Configurações do meu documento</head>
    <body>
        Todo conteúdo visível na página deverá vir na tag body
    </body>



HTML

HyperText
    Hipertexto

Markup
    Marcação

Language
    Linguagem

-->